In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
HOP_csv_path = "HeroesOfPymoli.csv"

In [3]:
purchase_data_df = pd.read_csv(HOP_csv_path)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
total_players = len(purchase_data_df["SN"].value_counts())

In [5]:
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [6]:
unique_items = purchase_data_df['Item ID'].nunique()

In [7]:
average_price = purchase_data_df['Price'].mean()

In [8]:
number_of_purchases = purchase_data_df['Purchase ID'].count()

In [9]:
total_revenue = purchase_data_df['Price'].sum()

In [13]:
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                      "Average Price":[average_price],
                                      "Number of Purchases":[number_of_purchases],
                                      "Total Revenue": [total_revenue]})

purchasing_analysis_df

purchasing_analysis_df.style.format({"Average Price":"${:,.2f}",
                                    "Total Revenue":"${:,.2f}"})

In [78]:
gender_group = purchase_data_df.groupby("Gender")

In [80]:
total_gender = gender_group.nunique()["SN"]

In [16]:
player_percentage = total_gender/total_players * 100

In [20]:
gender_demographics = pd.DataFrame({"Total Count": total_gender,
                                    "Percentage of Players": player_percentage,
                                   })

In [21]:
gender_demographics.index.name = None

In [22]:
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [23]:
purchase_count = gender_group["Purchase ID"].count()

In [24]:
avg_purchase_price = gender_group["Price"].mean()

In [25]:
avg_purchase_total = gender_group["Price"].sum()

In [33]:
avg_purchase_per_person = avg_purchase_total/total_gender

In [38]:
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

In [39]:
gender_demographics.index.name = "Gender"

In [40]:
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [42]:
age_bins = [0, 9.90, 14.90,19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

In [46]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_group)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [47]:
age_grouped = purchase_data_df.groupby("Age Group")

In [48]:
total_count_age = age_grouped["SN"].nunique()

In [49]:
age_percentage = (total_count_age/total_players)*100

In [50]:
age_demographics = pd.DataFrame({"Percentage of Players": age_percentage,
                                "Total Count": total_count_age})

In [51]:
age_demographics.index.name = None

In [53]:
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [54]:
purchase_count_age = age_grouped["Purchase ID"].count()

In [55]:
avg_purchase_price_age = age_grouped["Price"].mean()

In [56]:
total_purchase_value = age_grouped["Price"].sum()

In [60]:
avg_purchase_per_person_age = total_purchase_value/total_count_age

In [61]:
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                "Average Purchase Price": avg_purchase_price_age,
                                "Total Purchase Value": total_purchase_value,
                                "Average Purchase Total per Person": avg_purchase_per_person_age})

In [62]:
age_demographics.index.name = None

In [63]:
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}",
                              "Average Purchase Total per Person":"${:,.2f}"})

In [64]:
spenders = purchase_data_df.groupby("SN")

In [65]:
purchase_count_spender = spenders["Purchase ID"].count()

In [66]:
avg_purchase_price_spender = spenders["Price"].mean()

In [69]:
purchase_total_spender = spenders["Price"].sum()

In [70]:
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

In [71]:
spenders_format = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

In [72]:
spenders_format.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [74]:
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

In [81]:
item_info = items.groupby(["Item ID","Item Name"])

In [82]:
purchase_count_item = item_info["Price"].count()

In [83]:
purchase_value = (item_info["Price"].sum())

In [84]:
item_price = purchase_value/purchase_count_item

In [85]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

In [87]:
popular_format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

In [88]:
popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [90]:
popular_format = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

In [91]:
popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})